.row
  .col-4
    %h4
      - if @info[:group] != ''
        - node_full = "#{@info[:group]}/#{@info[:node]}"
      - else
        - node_full = "#{@info[:node]}"
      %a{href: url_for("/node/version?node_full=#{node_full}")} versions
      \/ Diff version #{@info[:num]} - #{@info[:num2]} for node
      %b #{@info[:node]}
.row
  .col-sm-12
    Date of version:
    %span.time{ epoch: @info[:time].to_i }= @info[:time]
.row
  .col-sm-12
    Number of lines changed:
    %span.added added #{@stat[0]}
    %span.deleted removed #{@stat[1]}

.row
  .col-sm-6
    - params = "node=#{@info[:node]}&group=#{@info[:group]}&oid=#{@info[:oid]}"
    - params = "#{params}&epoch=#{@info[:time].to_i}&num=#{@info[:num]}"
    %form{action: url_for("/node/version/diffs?#{params}"), method: 'post', role: 'form'}
      .form-group
        %select.form-select#oid2{name: 'oid2'}
          - diff2 = {}
          - num = @oids_dates.count + 1
          - next_id = false
          - @oids_dates.each do |x|
            %option{value: x[:oid]} Version #{num -= 1} (#{time_from_now x[:time]})
            - if (x[:oid].to_s == @info[:oid2]) || (next_id)
              - diff2 = {num: num, time: x[:time]}
              - next_id = false
            - elsif (x[:oid].to_s == @info[:oid]) && !(@info[:oid2])
              - next_id = true

      %button.btn.btn-primary{type: 'submit'} Get Diffs!

.row
  .col-sm-12
    .old_version_title Version #{diff2[:num]} (#{time_from_now diff2[:time]})
    .new_version_title Version #{@info[:num]} (#{time_from_now @info[:time]})

.row
  .col-sm-12
    .diffs_old
      - @diff[:old_diff].each do |line|
        - if /^\+.*/.match(line)
          .added><
            != escape_once("#{line}")

        - elsif /^\-.*/.match(line)
          .deleted><
            != escape_once("#{line}")

        - elsif /^@@\s.*@@.*$/.match(line)
          .diff-index><
            != escape_once("#{line}")

        - elsif /^empty_line&nbsp;/.match(line)
          - line.slice! "empty_line"
          .diff-empty><
            != escape_once("#{line}")

        - else
          %div><
            != escape_once("#{line}")

    .diffs_new
      - @diff[:new_diff].each do |line|
        - if /^\+.*/.match(line)
          .added><
            != escape_once("#{line}")

        - elsif /^\-.*/.match(line)
          .deleted><
            != escape_once("#{line}")

        - elsif /^@@\s.*@@.*$/.match(line)
          .diff-index><
            != escape_once("#{line}")

        - elsif /^empty_line&nbsp;/.match(line)
          - line.slice! "empty_line"
          .diff-empty><
            != escape_once("#{line}")

        - else
          %div><
            != escape_once("#{line}")
