.row
  .col-4
    %h4 nodes /
  .col-8
    %form.float-end#oxButtons
      %button.btn.btn-primary{type: 'button', onclick: 'history.go();'}
        %i.bi.bi-arrow-clockwise
        Refresh page
      %button.btn.btn-primary#resetSearch{type: 'button'}
        %i.bi.bi-eraser-fill
        Reset search
      %button.btn.btn-primary#reload{type: 'button'}
        %i.bi.bi-repeat
        Reload node list from source backend

.hidden.alert#flashMessage

.row
  .table-responsive
    %table.table.table-sm.table-striped.table-hover#nodesTable
      %thead
        %tr
          %th Name
          %th IP
          %th Model
          %th Group
          %th Last Status
          %th Last Update
          %th Last Changed
          %th Actions

      %tbody
        - @data.sort_by{|e|e[:name]}.each do |node|
          %tr
            %td
              %a{href: url_for("/node/show/#{node[:name]}")} #{node[:name]}
            %td= node[:ip]
            %td
              %a{href: url_for("/nodes/model/#{node[:model]}")} #{node[:model]}
            %td
              %a{href: url_for("/nodes/group/#{node[:group]}")} #{node[:group]}
            %td
              %div{title: node[:status], class: node[:status]}
                %span{style: 'visibility: hidden'}#{node[:status]}
            %td.time= node[:time]
            %td.time= node[:mtime]
            %td
              %a.link-dark.link-underline-opacity-0{title: 'Configuration',
                  href: url_for("/node/fetch/#{node[:full_name]}")}
                %i.bi.bi-cloud-download
              &nbsp;&nbsp;
              %a.link-dark.link-underline-opacity-0{title: 'Versions',
                href: url_for("/node/version?node_full=#{node[:full_name]}")}
                %i.bi.bi-stack
              &nbsp;&nbsp;
              %a.link-dark.link-underline-opacity-0{title: 'Update configuration',
                href: url_for("/node/next/#{node[:full_name]}")}
                %i.bi.bi-repeat

:javascript
  $(function() {
    var table = $('#nodesTable').DataTable({
      columnDefs: [
        {
          /* Hide IP address by default */
          target: 1,
          visible: false,
        },
        {
          /* do not permit to hide Name and Actions */
          targets: [0,7],
          className: 'noVis'
        },
      ],
      buttons:
        [{
          extend: 'colvis',
          columns: ':not(.noVis)',
          className: 'btn-primary',
        }],
      autoWidth: false,
      lengthMenu: [20, 50, 250, 500, { label: 'All', value: -1 }],
      stateSave: true,
    });

    table.buttons(0,0).container().prependTo($('#oxButtons'));
    table.buttons(0,0).nodes().removeClass('btn-secondary');

    $('#resetSearch').on('click', function() {
        table.search('').draw();
    });
  });


