!=haml :head
%body
  %h4
    %a{:href=>url_for('/nodes')} nodes
    %span /
    =@data[:name]
    &nbsp;
    %a{:title => "configuration", :href => url_for("/node/fetch/#{@data[:full_name]}") }
      %span{:class=>'glyphicon glyphicon-cloud-download', :style => "color: #000; font-size: 14px;"}
    %a{:title => "versions", :href => url_for("/node/version?node_full=#{@data[:full_name]}") }
      %img{:src=>url_for('/images/versioning_18px.png')}
    %a{:title => "update", :href => url_for("/node/next/#{@data[:full_name]}") }
      %span{:class=>'glyphicon glyphicon-repeat', :style => "color: #000; font-size: 14px;"}
  -out='';PP.pp(@data,out)
  %pre
    = preserve "#{out}"
