%div{:class=>'row tbl-header'}
  %div{:class=>'col-xs-12 col-md-2'}
    %h4 nodes /
  %div{:class=>'col-xs-12 col-md-10'}
    %a{:class=>"btn btn-default tbl-action col-xs-12 col-md-2 col-md-offset-10", :id=>"reload", :href=>"#"}
      %span{:class=>"glyphicon glyphicon-repeat"}
      Refresh

%div{:class=>'row'}
  %table{:id=>'nodesTable', :class=>'table table-responsive tablesorter'}
    %thead
      %tr
        %th Name
        %th IP
        %th Group
        %th Last Status
        %th Last Update
        %th Config
        %th Update
    %tbody
      -trclass = %w(even odd)
      -@data.sort_by{|e|e[:name]}.each do |node|
        -klass = trclass.rotate!.first
        %tr{:class=>"#{klass} ox-status-#{node[:status]}"}
          %td
            %a{:href => url_for("/node/show/#{node[:name]}") } #{node[:name]}
          %td= node[:ip]
          %td= node[:group]
          %td= node[:status]
          %td= node[:time]
          %td
            %a{:href => url_for("/node/fetch/#{node[:full_name]}") }
              %span{:class=>'glyphicon glyphicon-cloud-download'}
          %td
            %a{:href => url_for("/node/next/#{node[:full_name]}") }
              %span{:class=>'glyphicon glyphicon-repeat'}

%script{:src=>'scripts/jquery.min.js'}
%script{:src=>'scripts/jquery.tablesorter.min.js'}
%script{:src=>'scripts/jquery.quicksearch.js'}
:javascript
  $(function() {

    $('table.tablesorter').tablesorter();

    $('#reload').click(function() {
      $.get( "reload", function( data ) {
          location.reload();
      });
    });

    $('input#search').focusin(function(){
        $(this).animate({ width:'300px' }, 400);
        $(this).toggleClass("focused");
    })

    $('input#search').focusout(function(){
        $(this).animate({ width:'150px' }, 800);
        $(this).toggleClass("focused");
    })

    $('input#search').quicksearch('#nodesTable tbody tr');

    $(document).bind('keyup', 't', function() {
        if ( $('input:focus').length == 0 ) {
           $('input#search').focus();
        }
    });
  });
