.row
  .col-4
    %h4
      %a{href: url_for('/nodes')} nodes
      \/ Versions for node
      %b #{@node}
  .col-8
    %form.float-end#oxButtons
      %button.btn.btn-primary{type: 'button', onclick: 'history.go();'}
        %i.bi.bi-arrow-clockwise
        Refresh page

.row
  .table-responsive
    %table.table.table-sm.table-striped.table-hover#versionsTable
      %thead
        %tr
          %th Version
          %th Date
          %th Elapsed time
          %th Actions

      %tbody
        - nb = @data.count + 1
        - @data.each do |x|
          %tr
            %td #{nb -= 1}
            %td.time{ epoch: x[:time].to_i }= x[:time]
            %td #{time_from_now x[:time]}
            %td
              - params = "node=#{@node}&group=#{@group}&oid=#{x[:oid]}"
              - params = "#{params}&epoch=#{x[:time].to_i}&num=#{nb}"
              %a.link-dark.link-underline-opacity-0{title: 'configuration',
                 href: url_for("/node/version/view?#{params}")}
                %i.bi.bi-cloud-download
              &nbsp;&nbsp;
              %a.link-dark.link-underline-opacity-0{title: 'diff', href: url_for("/node/version/diffs?#{params}")}
                %i.bi.bi-file-earmark-diff

:javascript
  $(function() {
    $('#versionsTable').dataTable({
      "order": [[0, "desc"]],
      bAutoWidth: false,
      columnDefs: [
        {
          targets: '_all',
          className: 'text-start'
        }
      ],
      stateSave: true,
      searching: false
    });
  });
