.row
  .col-sm-12
    %h4
      - if @info[:group] != ''
        - params = "node_full=#{@info[:group] + '/' + @info[:node]}"
      - else
        - params = "node_full=#{@info[:node]}"
      %a{href: url_for("/node/version?#{params}")} versions
      \/ version #{@info[:num]} for node
      %span.node_title #{@info[:node]}
.row
  .col-sm-12
    - date_version = Time.parse @info[:date]
    Date of version:
    %span.time #{date_version.strftime('%Y-%m-%d %H:%M:%S %Z')}

.row
  .col-sm-12
    %pre.bg-body-tertiary.border.border-secondary-subtle.rounded
      - @data.each_line do |line|
        != escape_once("#{line}")
