%h4
  - if @info[:group] != ''
    %a{:href=>url_for("/node/version?node_full=#{@info[:group] + '/' + @info[:node]}")} versions
  - else    
    %a{:href=>url_for("/node/version?node_full=#{@info[:node]}")} versions
  \/ version #{@info[:num]}  for Node 
  %span{:class=>'node_title'} #{@info[:node]}
  
- date_version = Time.parse @info[:date]
Date of version: 
%span.time #{date_version.strftime('%Y-%m-%d %H:%M:%S %Z')}
%br
%br
%div{:class=>'diffs'}
  - @data.each_line do |line|
    %div> #{line}
%script{:src=>url_for('/scripts/jquery-2.1.1.min.js')}
