.row
  .col-8
    %h4
      - if @info[:group] != ''
        - params = "node_full=#{@info[:group] + '/' + @info[:node]}"
      - else
        - params = "node_full=#{@info[:node]}"
      %a{href: url_for("/node/version?#{params}")} versions
      \/ version #{@info[:num]} for node
      %b #{@info[:node]}
  .col-4
    .float-end
      %a.btn.btn-primary{:href => "#{request.path}?#{request.query_string}&format=text"} raw
.row
  .col-sm-12
    - date_version = Time.at @info[:epoch]
    Date of version:
    %span.time{ epoch: @info[:epoch] }= date_version

.row
  .col-sm-12
    %pre.bg-body-tertiary.border.border-secondary-subtle.rounded
      - @data.each_line do |line|
        != escape_once("#{line}")
